.container {
    display: flex;
    justify-content: center;
  }
  
  .div-1 {
   width: 100vw;
   background-color: rgba(37, 31, 31, 0.897);
   height: 100vh;
   color: white;
   text-align: center;
  }
  
  .div-2{
   width: 100vw;
   background-color: rgba(164, 211, 76, 0.883);
   height: 100vh;
   color: white;
   text-align: center;
  }
  
  .div-3{
   width: 100vw;
   background-color: rgba(180, 179, 179, 0.883);
   height: 100vh;
   color: white;
   text-align: center;
  }