.container {
    display: flex;
    justify-content: space-between;
  }
  
  .div1 {
    background-color: rgba(32, 30, 30, 0.767);
    width: 400px;
    height: 380px;
    padding: 10px;
    color: white;
  }
  
  .div2 {
    background-color: rgb(218, 214, 214);
    height: 500px;
    width: 650px;
    padding: 10px;
    color: white;
  }